@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

// bootstrap color overrides
$danger: #ff4d4f;

* {
   --tc-white: #d7dadc;
   --tc-gray: #686157;
   --tc-background: #242627;
   
}


// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";