.login_container {
    min-width: 30%;
    max-width: 40%;
}

@media only screen and (max-width: 800px) {
    .login_container {
        min-width: 40%;
        max-width: 80%;
    }
}

.login_form_forgot {
    float: right;
}

.divider {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
}

.providerIcon {
    font-size: 1.5rem;
    color: var(--bs-light);
}

.providerBtn {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
   
}

.form_login_button {
    margin: auto;
    display: block;
}