.register_container {
    min-width: 30%;
    max-width: 40%;
}

@media only screen and (max-width: 800px) {
    .register_container {
        min-width: 40%;
        max-width: 80%;
    }
}

.register_form_forgot {
    float: right;
}

.divider {
 font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    color: var(--bs-light) !important;
    border-top-color: #989185 !important;
}

.providerIcon {
    font-size: 1.5rem;
    color: var(--bs-light);
}

.providerBtn {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
   
}

.form_register_button {
    margin: auto;
    display: block;
}

.input {
    background-color: var(--bs-dark) !important;
    color: var(--bs-light);
    border-color: var(--bs-gray);

    input {
        background-color: var(--bs-dark) !important;
        color: var(--bs-light);
    }

}